.Header {
  border-bottom: 3px solid white;
  margin: 0 32px;
  padding: 10px 0;
}

.Logo {
  height: 150px;
  width: 100%;
  object-fit: contain;
}

@media (max-width: 700px) {
  .Header {
    border-bottom: 1px solid white;
  }
  .Logo {
    height: 100px;
  }
}
